<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Invoice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="create-invocie-main-body">
    <h1 class="create-invoice-main-h1">Create Invoice</h1>
    <nav class="create-invoice-main-nav">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('invoices') }}">Invoices</a></li>
            <li><a href="{{ url_for('products') }}">Products</a></li>
            <li><a href="{{ url_for('customers') }}">Customers</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
    <form class="create-invoice-main-form">
        <label class="create-invoice-main-label" for="invoiceName">Invoice Name:</label>
        <input class="create-invoice-main-input" type="text" id="invoiceName" name="invoiceName" value="{{ session['invoiceName'] }}" readonly><br>
        <label class="create-invoice-main-label" for="invoiceName">Email ID:</label>
        <input class="create-invoice-main-input" type="text" id="email" name="email" value="{{ session['email'] }}" readonly><br>
        <label class="create-invoice-main-label" for="create-date">Invoice Created On:</label>
        <input class="create-invoice-main-input" type="date" id="create-date" name="create-date">
        <label class="create-invoice-main-label" for="due-date">Due date:</label>
        <input class="create-invoice-main-input" type="date" id="due-date" name="due-date">
        <label class="create-invoice-main-label" for="product">Select Product:</label>
        <select class="create-invoice-main-select" id="product" name="product">
            {% for product in products %}
                <option value="{{ product[0] }}" data-price="{{ product[2] }}" data-name="{{product[1]}}">{{ product[1] }}</option>
            {% endfor %}
        </select>
        <label class="create-invoice-main-label" for="quantity">Quantity:</label>
        <input class="create-invoice-main-input" type="number" id="quantity" name="quantity" min="1" value="1">
        <button class="create-invoice-main-button"type="button" onclick="addToSelected()">Add</button>
        <h2 class="create-invoice-main-h2">Selected Products:</h2>
        <select class="create-invoice-main-select" id="selected-products" multiple></select>
        <h2 class="create-invoice-main-h2">Total:</h2>
        <span id="total">0.00</span>
        <button class="create-invoice-main-button" type="button" onclick="generateInvoice()">Generate Invoice</button>
    </form>

    <script>
        function addToSelected() {
            let product = document.getElementById('product').options[document.getElementById('product').selectedIndex].getAttribute('data-name');
            let price = parseFloat(document.getElementById('product').options[document.getElementById('product').selectedIndex].getAttribute('data-price'));
            let quantity = parseInt(document.getElementById('quantity').value);
            let pid =  document.getElementById('product').options[document.getElementById('product').selectedIndex].value;
            
            
            let selectedProducts = document.getElementById('selected-products');
            let option = document.createElement('option');
            option.text = `${product} - Quantity: ${quantity} - $${(price * quantity).toFixed(2)}`;
            option.value = pid;
            selectedProducts.add(option);

            // Update the total after adding the selected product
            updateTotal(price, quantity);
        }

        function updateTotal(price, quantity) {
            let currentTotal = parseFloat(document.getElementById('total').innerText);
            let newTotal = currentTotal + (price * quantity);

            document.getElementById('total').innerText = newTotal.toFixed(2);
        }

        function generateInvoice() {
            let invoiceName = document.getElementById('invoiceName').value;
            let email = document.getElementById('email').value;
            let createDate = document.getElementById('create-date').value;
            let dueDate = document.getElementById('due-date').value;
            let totalAmount = document.getElementById('total').innerText;

            let selectedProducts = [];

            let selectedOptions = document.getElementById('selected-products').options;
            for (let i = 0; i < selectedOptions.length; i++) {
                selectedProducts.push({
                    text: selectedOptions[i].text,
                    id:selectedOptions[i].value
                });
            }

            // Prepare the data to be sent to the server
            let data = {
                invoiceName: invoiceName,
                email: email,
                createDate: createDate,
                dueDate: dueDate,
                totalAmount: totalAmount,
                selectedProducts: selectedProducts // Include selected products' names and quantities
            };
            console.log(data)
            // Perform AJAX request to send data to the server
            fetch('/generate_invoice', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/manage_invoices'; // Redirect on success
                } else {
                    // Handle errors or display error messages
                }
            })
            .catch(error => {
                // Handle errors if any
            });
        }
    </script>
</body>
</html>
