<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div id = "header">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('invoices') }}">Invoices</a></li>
                    <li><a href="{{ url_for('products') }}">Products</a></li>
                    <li><a href="{{ url_for('customers') }}">Customers</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <h1 class="welcome-text">Welcome, <span id="username">{{ session['username'] }}</span></h1>
        </div>

        <div>Total Amount Due: {{ total_amount_due }}</div>
        <div>Total Amount Received: {{ total_amount_received }}</div>
        <div>Total Invoices: {{ total_invoices }}</div>
        <div>Total Invoices Due: {{ total_invoices_due }}</div>
        <div>Customers with Pending Invoices: {{ customers_with_pending_invoices }}</div>

    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var username = $("#username").text();
            $("#username").text("");
            var i = 0;
            function typeWriter() {
                if (i < username.length) {
                    $("#username").text($("#username").text() + username.charAt(i));
                    i++;
                    setTimeout(typeWriter, 100);
                }
            }
            typeWriter();
        });
    </script>

   
</body>
</html>
