<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id = "header">
        <div class="container">
            <h1>Manage Products</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('invoices') }}">Invoices</a></li>
                    <li><a href="{{ url_for('products') }}">Products</a></li>
                    <li><a href="{{ url_for('customers') }}">Customers</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class = container>
        <div class = "product-information">
            <table>
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product[0]}}</td>
                            <td>{{ product[1]}}</td>
                            <td>{{ product[2]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="manage-products-header">
        <div class="manage-produts-container">
            <h1 class="manage-products-h1">Manage Products</h1>
            <nav class="manage-produts-nav">
                <ul>
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('invoices') }}">Invoices</a></li>
                    <li><a href="{{ url_for('products') }}">Products</a></li>
                    <li><a href="{{ url_for('customers') }}">Customers</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="manage-products-container">
        <form class="manage-products-form" action="{{ url_for('delete_products') }}" method="post" id="deleteForm">
            <div class="manage-product-information">
                <table>
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Product Price</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product[0] }}</td>
                                <td>{{ product[1] }}</td>
                                <td>{{ product[2] }}</td>
                                <td><input class="manage-products-input" type="checkbox" name="delete_products[]" value="{{ product[0] }}"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button class="manage-products-button" type="submit" class="manage-produts-button" onclick="return confirm('Are you sure you want to delete selected products?')">Delete Product</button>
        </form>
    </div>
</body>
</html>